#!/bin/bash
/usr/sap/{{ sap_hana_hsr_hana_sid | upper }}/HDB{{ sap_hana_hsr_hana_instance_number }}/exe/hdbsql -i {{ sap_hana_hsr_hana_instance_number }} -u SYSTEM -p {{ sap_hana_hsr_hana_db_system_password }} -d SYSTEMDB -m <<EOF
BACKUP DATA FOR {{ sap_hana_hsr_hana_sid }} USING FILE ('data_bck');
EOF
echo "Backup completed"